# CLion / IntelliJ
.idea/

# CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Executáveis e binários
*.out
*.exe
*.o
*.obj
*.a
*.so
*.dll
*.dylib

# Arquivos temporários
*.log
*.tmp